---
import Layout from "../layouts/Layout.astro";
---

<Layout title="WEBGLOG">
  <main>
    <h1>WEBGLOG</h1>
    <section class="integration">
      <h2>integration</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/integration/positioning/01">01</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/02">02</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/03">03</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/04">04</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/05">05</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/06">06</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/07">07</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/08">08</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/09">09</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/10">10</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/11">11</a>
        </li>
        <li class="link-item">
          <a href="/integration/positioning/12">12</a>
        </li>
      </ul>
    </section>
    <section class="ripple_effect">
      <h2>ripple_effect</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/ripple_effect/01_mouse">01_mouse</a>
        </li>
        <li class="link-item">
          <a href="/ripple_effect/02">02</a>
        </li>
        <li class="link-item">
          <a href="/ripple_effect/03">03</a>
        </li>
      </ul>
    </section>
    <section class="render_target">
      <h2>render_target</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/render_target/01_basic">01_basic</a>
        </li>
        <li class="link-item">
          <a href="/render_target/02_shader">02_shader</a>
        </li>
      </ul>
    </section>
    <section class="post_processing">
      <h2>post_processing</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/post_processing/01_basic">01_basic</a>
        </li>
        <li class="link-item">
          <a href="/post_processing/02_shader_pass">02_shader_pass</a>
        </li>
        <li class="link-item">
          <a href="/post_processing/03">03</a>
        </li>
      </ul>
    </section>
    <section class="particle_fade">
      <h2>particle_fade</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/particle_fade/fade01">fade01</a>
        </li>
      </ul>
    </section>
    <section class="circle">
      <h2>circle</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/circle/step01">step01</a>
        </li>
        <li class="link-item">
          <a href="/circle/step02">step02</a>
        </li>
        <li class="link-item">
          <a href="/circle/step03">step03</a>
        </li>
        <li class="link-item">
          <a href="/circle/step04">step04</a>
        </li>
      </ul>
    </section>
    <section class="noise">
      <h2>noise</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/noise/noise01">noise01</a>
        </li>
        <li class="link-item">
          <a href="/noise/noise02">noise02</a>
        </li>
        <li class="link-item">
          <a href="/noise/noise03">noise03</a>
        </li>
        <li class="link-item">
          <a href="/noise/noise04">noise04</a>
        </li>
        <li class="link-item">
          <a href="/noise/noise05">noise05</a>
        </li>
        <li class="link-item">
          <a href="/noise/noise06">noise06</a>
        </li>
        <li class="link-item">
          <a href="/noise/noise07">noise07</a>
        </li>
      </ul>
    </section>
    <section class="other">
      <h2>other</h2>
      <ul class="link-list">
        <li class="link-item">
          <a href="/other/shader_material">shader_material</a>
        </li>
        <li class="link-item">
          <a href="/other/shader_texture">shader_texture</a>
        </li>
        <li class="link-item">
          <a href="/other/webgl-sample">webgl-sample</a>
        </li>
        <li class="link-item">
          <a href="/other/color_replace">color_replace</a>
        </li>
        <li class="link-item">
          <a href="/other/color_shift">color_shift</a>
        </li>
        <li class="link-item">
          <a href="/other/floor">floor</a>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .link-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
  }
  .link-item {
    margin-bottom: 1rem;
    width: 200px;
  }
</style>
